


#products {
    display: grid;
    margin: auto;
    width:90%;
    gap:20px;
    grid-template-columns: repeat(4,1fr);
}

div>img{
    width:100%;
}

h1 {
    text-align: center;
}

div>h3{
    padding-left: 10px;
}
div>p>s{
    padding-left: 10px;
}

div>button{
    margin-left: 10px;
    margin-bottom: 10px;
}

div>p{
    padding-left: 10px;
}
